@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  font-family: Popins, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-size: 16px;
  color: white;
  background: linear-gradient(0deg, #8bdff8, #7878F5), #6531BD;
  
}